/build
/.idea
*.iml
/.gradle
/gradle
/ijkplayer-exo/build
/ijkplayer-java/build
/SwipeBackLayoutLib/build
/SwipeBackLayoutLib/*.iml
/Umiwi4/build
/Umiwi4/*.iml
/YoumiFramework/build
/YoumiFramework/*.iml
/YoumiLogin/build
/YoumiLogin/*.iml
/YoumiPay/build
/YoumiPay/*.iml
/YoumiResource/build
/YoumiResource/*.iml
/YoumiShare/build
/YoumiShare/*.iml
/YouYouShuoCamera/build
/YouYouShuoCamera/*.iml